.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:white;
}

.navbar-logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.normal-button{
    width: 0px;
    color: rgb(0, 0, 0);
    display: inline-block;
   
}

.bg-button{
    font-size: 15px;
    width: 80px;
    height: 30px;
    margin: 10px;
    border: 0;
    background-color: rgb(61, 138, 221);
    border-radius: 5px;
    color: aliceblue;
    
}


.nav-link {
    display: inline-block;
    padding: 10px;
}

.nav-link.bold {
    font-weight: 500; 
    color: #000; 
}
